#index {
   background-image: url("./images/indexbackground.jpg") ; 
}
#about{
    background-image: url("./images/aboutbackground.jpg");
}
.navbar{
    color: whitesmoke;
}
.logo{
    align-content: left;
}
.navbarlinks{
    align-content: right;
}
.banner{
    text-align: center;
    color: whitesmoke;
}
.rps{
    text-align: center;
    color: whitesmoke;
    background-color: rgba(169,169,169,.25) ;
}