body {
   background-image: url("background2.jpg") ; 
}
.navbar{
    color: whitesmoke;
}
.logo{
    align-content: left;
}
.navbarlinks{
    align-content: right;
}
.banner{
    text-align: center;
    color: whitesmoke;
}
.rps{
    text-align: center;
    color: whitesmoke;
}